* {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Papyrus;
}

.container {
  height: 120px;
  width: 300px;
  margin: auto;
}

#title {
  margin-top: 5px;
  margin-bottom: 10px;
}

#my_clock {
  color: gray;
  font-size: 36px;
}
